@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  scroll-behavior: smooth;
  direction: rtl;
}
header {
  position: relative;
  height: 80vh;
  
}
header span {
  color: white;
}
#authent{
    position: absolute;
    width: 15%;
    height: 10%;
    z-index: 4;
    top: 3%;
    gap: 20px;
    right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
#authent a{
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.login{
    background-color: #ffb860;
    padding: 4% 7%;
}

#bg {
  background-color: rgba(33, 32, 32, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.bg {
  width: 100vw;
  height: 100%;
}
.logo {
  position: absolute;
  top: 35%;
  left: 30%;
  z-index: 2;
  width: 15%;
}
header h1 {
  position: absolute;
  top: 34%;
  left: 50%;
  font-size: 900%;
  z-index: 2;
  color: white;
  font-family: "Noto Nastaliq Urdu", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav li {
  display: inline-block;
  font-weight: 800;
  font-size: 120%;
}
nav {
  display: flex;
  flex-direction: row;
}
#navBar {
  justify-content: center;
  align-items: center;
  gap: 37px;
  height: 10vh;
  background-color: #ffb860;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  input {
    transition: 200ms all ease;
  }
  .open {
    width: 10rem;
    border: 1px;
    padding: 0.2rem;
    border-radius: 8px;
  }
  .closed {
    width: 0px;
    border: 0;
  }
}

#links {
  padding: 0.5rem 2rem;
  gap: 10px;
  height: 8%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}
nav span {
  padding: 0.2% 0.5%;
  background-color: lightblue;
  font-weight: 700;
  text-align: center;
  min-width: 8%;
}
main {
  display: flex;
  flex-direction: row;
}
aside{
  position: -webkit-sticky;
  top: 0;
  width: 25%;
  background-color: white;
  height: 100vh;
  border-radius: 1px;
  padding: 4% 2%;
  border-left: 1px solid rgba(200, 200, 200, 0.579);
  border-top: 1px solid rgba(200, 200, 200, 0.579);
}
aside h1 {
  font-size: 200%;
}
aside li {
  list-style: none;
  font-size: 120%;
  font-weight: 600;
  margin-bottom: 16%;
  text-align: center;
  padding: 3%;
  display: block;
  padding: 2% 4%;
  border-radius: 4px;
  cursor: pointer;
}
aside li:hover {
  background-color: #ffb860;
  color: white;
}
aside div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 13% 12% 30% 0%;
  color: #ffb860;
}
.asidLink {
  background-color: #ffb860;
  color: white;
}
aside img {
  width: 20%;
  margin-left: 3%;
}
.blog {
  padding-block: 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  margin-block: 3%;
}
.blog div div {
  padding: 1%;
  border-radius: 10px;
  width: 20%;
  color: white;
  align-self: flex-start;
  text-align: center;
  background-color: #ffb860;
  margin-bottom: 2%;
  margin-right: 2%;
}
hr {
  width: 100%;
  margin-bottom: 5%;
}
section p {
  width: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
article {
  width: 65%;
  margin: 1% 10%;
}
section button {
  border: 1px solid #2958d2;
  border-radius: 10px;
  padding: 1% 3%;
  align-self: self-end;
  margin-top: 5%;
  background-color: white;
  margin-left: 5%;
  color: #2958d2;
  cursor: pointer;
}
section button:hover {
  background-color: #2958d2;
  color: white;
}
section h1 {
  text-align: center;
  color: #2958d2;
  font-size: 180%;
  font-weight: 700;
  margin-bottom: 4%;
}
footer {
  text-align: end;
  background-color: #ffb860;
  padding: 2%;
}